<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ksinfo.pointgame.dao.ResultDAO">
	
    <select id="getResultById" resultType="com.ksinfo.pointgame.dto.GameDTO">
       	SELECT input_num
       		 , result				
		FROM RESULTINFO				
		WHERE member_id=#{memberId} 				
		AND update_date = current_date			
		AND logical_del_flag='0' 									
    </select>
    
    <update id="setResultById">
	    UPDATE RESULTINFO				
		SET game_count = #{gameCount},				
			input_num = #{inputNum},		
			result = #{result}		
		WHERE member_id=#{memberId} 				
		AND rec_update_date = current_date				
		AND logical_del_flag='0' 		
    </update>
    		
</mapper>