<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gameplay</title>
    <link rel="stylesheet" href="/css/gameplay.css" />
  </head>
  <body>
    <form action="/gameplay" method="post" class="gamePlay" onsubmit="return checkInput()">
      <div name="gameDto" class="container">
        <div class="title">
          数当てゲーム
          <button type="button" class="closeBtn" id="gameCloseBtn">X</button>
        </div>
        <div class="gameForm">
          <div class="point">
            <input type="hidden" name="memberId" th:value="${gameDto.memberId}" />
            <input id="msg" type="hidden" th:value="${msg}" />

            <p>現在のポイント: <span th:text="${gameDto.point}"></span></p>
          </div>
          <div class="inputHiddenNum">
            <label>隠れ数字</label>
            <a>***</a>
            <input name="hiddenNum" th:value="${gameDto.hiddenNum}" class="hiddenNum" type="hidden" required />
          </div>

          <div class="inputNum">
            <label>入力数字</label>
            <input name="inputNum" class="num" id="inputNum" type="text" maxlength="3" required />
            <!-- inputNum type Check -->
            <button type="submit" class="checkBtn" id="checkBtn">確認</button>
          </div>

          <!-- game result table -->
          <table class="table">
            <tr>
              <th>回収</th>
              <th>入力情報</th>
              <th>判定結果</th>
            </tr>
            <tr th:each="gameResult, iterStat : ${gameResult}">
              <td th:text="${iterStat.count} + '回目'"></td>
              <!-- 1回目 ~ 10回目 -->
              <td th:text="${gameResult.inputNum}"></td>
              <td th:text="${gameResult.result}"></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- message part -->
      <div class="msg-container" id="msg-container">
        <div class="title" id="msgTitle">
          結果
          <button class="closeBtn" id="closeBtn">X</button>
        </div>
        <input type="hidden" id="msg" th:value="${msg}" />
        <div><span class="msg-form" id="finishMsg" th:text="${finishMsg}"></span></div>
      </div>
    </form>
  </body>
  <script>
    const gameCloseBtn = document.getElementById("gameCloseBtn");

    const msgContainer = document.getElementById("msg-container");
    const msgTitle = document.getElementById("msgTitle");
    const msg = document.getElementById("msg");
    const msgValue = msg.value;
    const finishMsg = document.getElementById("finishMsg");

    const closeBtn = document.getElementById("closeBtn");
    const inputNum = document.getElementById("inputNum");
    const checkBtn = document.getElementById("checkBtn");

    //game close fcuntion
    function gameClose() {
      const confirmed = confirm("ゲームを終了しますか");
      if (confirmed) {
        window.location.href = "/login";
      }
    }
    gameCloseBtn.addEventListener("click", gameClose);

    //pop-up message function
    function openMsg() {
      msgContainer.style.display = "flex";
      msgContainer.style.flexDirection = "column";
      msgContainer.style.justifyContent = "center";
      msgContainer.style.alignItems = "center";
      finishMsg.style.display = "block";
    }

    if (msgValue == "1") {
      openMsg();
    }

    function closeMsg() {
      msgContainer.style.display = "none";
      inputNum.disabled = true;
      checkBtn.disabled = true;
    }
    closeBtn.addEventListener("click", closeMsg);

    function checkInput() {
      if (inputNum.disabled == true) {
        return false;
      }
      return true;
    }
  </script>
</html>
