<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gameplay</title>
    <link rel="stylesheet" href="/css/gameplay.css" />
  </head>
  <body>
    <form action="/gameplay" method="post" class="gamePlay">
      <div name="gameDto" class="container">
        <div class="title">
          数当てゲーム
          <button class="closeBtn">X</button>
        </div>
        <div class="gameForm">
          <div class="point">
            <input type="hidden" name="memberId" th:value="${gameDto.memberId}" />
            <input id="msg" type="hidden" th:value="${msg}" />

            <p>現在のポイント: <span th:text="${gameDto.point}"></span></p>
          </div>
          <div class="inputHiddenNum">
            <label>隠れ数字</label>
            <a>***</a>
            <input name="hiddenNum" th:value="${gameDto.hiddenNum}" class="hiddenNum" type="hidden" required />
          </div>

          <div class="inputNum">
            <label>入力数字</label><input name="inputNum" class="num" type="text" maxlength="3" required />
            <!-- inputNum type Check -->
            <button type="submit" class="checkBtn" id="checkBtn">確認</button>
          </div>

          <!-- game result table -->
          <table class="table">
            <tr>
              <th>回収</th>
              <th>入力情報</th>
              <th>判定結果</th>
            </tr>
            <tr th:each="gameResult, iterStat : ${gameResult}">
              <td th:text="${iterStat.count} + '回目'"></td>
              <!-- 1回目 ~ 10回目 -->
              <td th:text="${gameResult.inputNum}"></td>
              <td th:text="${gameResult.result}"></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- message part -->
      <div class="msg-container" display="none">
        <div class="title" id="msgTitle">
          結果
          <button class="closeBtn">X</button>
        </div>
        <input type="hidden" id="msg" th:value="${msg}" />
        <div><span class="msg-form" id="finishMsg" display="none" th:value="${finishMsg}"></span></div>
      </div>
    </form>
  </body>
  <script>
    const msgContainer = document.getElementById("msg-container");
    const msgTitle = document.getElementById("msgTitle");
    const msg = document.getElementById("msg");
    const msgValue = msg.value;
    const finishMsg = document.getElementById("finishMsg");

    function openMsg() {
      msgContainer.style.display = "flex";
      msgTitle.style.display = "flex";
      finishMsg.style.display = "flex";
    }

    if (msgValue == 1) {
      openMsg();
    }
  </script>
</html>
