<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <form action="/cert" method="post" class="loginInfo">
      <div class="container">
        <div class="title">会員認証</div>
        <div class="loginForm">
          <div class="input">
            <label>会員ID</label> <input name="memberId" class="userId" id="userId" type="text" maxlength="6" placeholder="ID" required />
          </div>
          <div class="input">
            <label>パスワード</label><input name="memberPassword" class="userPw" id="userPw" type="password" maxlength="8" placeholder="PW" required />
          </div>
          <button type="submit" class="loginBtn" id="loginBtn">ログイン</button>
          <p class="message" id="message" th:text="${error}"></p>
          <!-- <p class="errorMsg"></p> -->
        </div>
      </div>
    </form>
  </body>
  <script src="/js/login.js"></script>
</html>
