.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: green;
  font-weight: bold;
  width: 40%;
  height: 3%;
  align-content: center;
  border: 1px solid black;
}

.container .title button {
  background-color: gray;
  font-weight: bold;
  position: absolute;
  right: 5px;
  width: 5%;
  height: 100%;
  border: 1px solid gray;
}

.container .gameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(248, 245, 245);
  width: 40%;
  height: 60%;
  border: 1px;
  border: 1px solid black;
}

.container .gameForm .point {
  align-self: flex-end;
  margin-right: 5%;
}

.container .gameForm .inputHiddenNum {
  align-self: flex-start;
  width: 40%;
  margin-left: 20%;
  text-align: left;
}

.container .gameForm .inputHiddenNum a {
  margin-left: 15%;
}

.container .gameForm .inputNum {
  align-self: flex-start;
  margin-left: 20%;
  text-align: left;
}

.container .gameForm .inputNum .num {
  width: 30%;
  margin-left: 10%;
}

.container .gameForm .inputNum .checkBtn {
  background-color: greenyellow;
  width: 70px;
  border: 1px solid gray;
}

.container .gameForm .inputNum .checkBtn:hover {
  background-color: green;
  width: 70px;
  border: 1px solid gray;
}

/* btn css */
.container .gameForm .table {
  border: none;
  border-collapse: collapse;
  margin-top: 10%;
  width: 60%;
}

.container .gameForm .table th {
  border: 1px solid black;
  background-color: greenyellow;
}

.container .gameForm .table td {
  border: 1px solid black;
}
/* message css */
.msg-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  height: 20%;
  border-radius: 0.5rem;
  border: 1px solid rgb(19, 19, 19);
}

.msg-container .title {
  display: flex;
  background-color: white;
  justify-content: center;
  text-align: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  background-color: green;
  font-weight: bold;
  width: 100%;
  height: 30px;
  border-radius: 0.5rem;
  border: none;
}

.msg-container .title button {
  background-color: rgb(191, 191, 191);
  font-weight: bold;
  position: absolute;
  right: 5px;

  width: 10%;
  height: 80%;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.msg-container .title button:hover {
  background-color: gray;
}
